* {
    padding: 0;
    margin: 0;
}

/*** FRAME ***/

#form {
    font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
    position: relative;
    width: 100%;
    background: rgba(224, 201, 166, 15%)
}

#form:after {
    content: "";
    background-image: url("paper.jpg");
    background-size: 100%;
    opacity: 33%;
    border-radius: 64px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    pointer-events: none;
}

.frame {
    border-radius: 64px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 16px;

    display: inline-block;
    box-sizing: border-box;

    padding: 16px;

    vertical-align: top;
}

.small {
    border-radius: 32px;
}

.tiny {
    padding: 0;
    border-radius: 16px;
}

.weak {
    box-shadow: rgba(0, 0, 0, 0.10) 0 4px 8px;
}

.break {
    height: 8px;
    width: 8px;
}

.inline {
    display: inline-block;
}

/*** GENERAL ***/

/*** ATTRIBUTES ***/

.attribute {
    width: 96px;
    height: 128px;
}

.attribute .mod {
    width: 100%;
    height: 50%;
    padding: 8px;
    box-sizing: border-box;
}

.attribute .value {
    width: 100%;
    height: 25%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.attribute .value button {
    width: 100%;
    border: none;
    font-weight: bold;
    background: none;
}

.val {
    font-size: 18pt;
    line-height: 32px;
    vertical-align: middle;
}

.att {
    line-height: 48px;
    font-size: 24pt;
    font-weight: bold;
}

.decrement {
    border-radius: 0 0 0 16px;
}

.increment {
    border-radius: 0 0 16px 0;
}

.attribute .lab {
    width: 100%;
    height: 25%;
    text-align: center;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
}

.mod div {
    height: 100%;
    width: 100%;
    text-align: center;
}

.value button:hover {
    cursor: pointer;
    background: rgba(224, 201, 166, 66%);
}

#strength {
    background: linear-gradient(rgba(0, 0, 0, 0) 25%, #B22222 175%);
}

#athletics {
    background: linear-gradient(rgba(0, 0, 0, 0) 25%, #FFA500 175%);
}

#dexterity {
    background: linear-gradient(rgba(0, 0, 0, 0) 25%, #F0E68C 175%);
}

#constitution {
    background: linear-gradient(rgba(0, 0, 0, 0) 25%, #32CD32 175%);
}

#perception {
    background: linear-gradient(rgba(0, 0, 0, 0) 25%, #98FB98 175%);
}

#intellect {
    background: linear-gradient(rgba(0, 0, 0, 0) 25%, #00FFFF 175%);
}

#wisdom {
    background: linear-gradient(rgba(0, 0, 0, 0) 25%, #4169E1 175%);
}

#charisma {
    background: linear-gradient(rgba(0, 0, 0, 0) 25%, #9370DB 175%);
}

/*** ENDURANCE ***/

#endurance {
    height: 160px;
}
