body {
    background: rgba(59,66,82,255);
}

.frame {
    display: inline-block;
    border-radius: 46px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 4px 8px;
    padding: 8px;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.left, .right {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;

    height: 92px;
    width: 92px;
    margin: 4px;

    font-family: "Lucida Console", Courier, monospace;
    font-size: 24pt;
    text-align: center;
    line-height: 92px;
}

.left {
    border-radius: 46px 0 0 45px;
}

.right {
    border-radius: 0 46px 46px 0;
    position: relative;
}

.value {
    pointer-events: none;
    position: relative;
    z-index: 999;
}

.right button {
    position: absolute;

    height: 46px;
    width: 92px;

    background: none;
    color: #667799;
    border: none;

    line-height: 46px;

    cursor: pointer;
}

.right button div {
    position: absolute;
    left: 38px;
    pointer-events: none;
}

.plus div {
    top: -8px;
}

.plus {
    top: 0;
    left: 0;
    border-radius: 0 46px 0 0;
}

.plus:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -8px 16px -8px;
}

.minus div {
    bottom: -8px;
}

.minus {
    bottom: 0;
    left: 0;
    border-radius: 0 0 46px 0;
}

.minus:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 16px -8px;
}

#strength .left {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0, #B22222 400%);
}

#athletics .left {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0, #FFA500 400%);
}

#dexterity .left {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0, #F0E68C 400%);
}

#const .left {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0, #32CD32 400%);
}

#perception .left {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0, #98FB98 400%);
}

#intellect .left {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0, #00FFFF 400%);
}

#wisdom .left {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0, #4169E1 400%);
}

#charisma .left {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0, #9370DB 400%);
}

@media only screen and (max-width: 960px) {

    .left, .right, .right button {
        width: 40vw;
    }

    .right button div {
        left: 47.5%;
    }
}

#abilities {

}

#general, #specific {
    float: left;
}